#menu{
    background-color: rgb(77, 108, 171);
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#home,#over-mij,#vaardigheden,#nieuws,#contacten,#hub,#projecten{
    color: white;   
    justify-content: space-around;
    background-color:darkblue;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

a{
    color: white;
    text-decoration-line: none;
}


body{
    background-image: url("../IMAGES/g.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: stretch;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

#logo{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    margin: none;
}

#projectbalk{
    border: 3px solid white;
    background-color: darkblue;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
main {
    display:flex;
}
#project1,#project2,#project3{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
    color: white;
}

#vlag,#mondriaan {
    height: 300px;
    width: 300px;
    
}

.projectcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
}

.projecten-top {
    width: 100%;
}




.projectmenu {
    display: inline;
}



