#menu{
    background-color: rgb(77, 108, 171);
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#home,#over-mij,#vaardigheden,#nieuws,#contacten,#hub,#projecten{
    color: white;   
    justify-content: space-around;
    background-color:darkblue;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

a{
    color: white;
    text-decoration-line: none;
}


body{
    background-image: url("../IMAGES/g.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: stretch;
}

h1,h3{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

#logo{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
}

#vaardighedenbig{
    background-color: darkblue;
    border: 3px solid white;
    width: 800px;
    height: 675px;
    display: flex;
    justify-content: center;
    
}

#procenten,#namen{
    border: 1px solid white;
}









